<div class="d-flex flex-wrap">
  <div class="card text-center border border-2 m-2 flex-grow-1" style="width: 18rem; min-height: 25rem;">
    <img [src]="urlImagen" class="card-img-top img-fluid mx-auto" style="width: 12rem;height: 12rem;" alt="" *ngIf="urlImagen !== null">
    <div class="card-body d-flex flex-column">
      <h2 class="card-title fs-6">{{nombre}}</h2>
      <p class="card-text fs-6"><b>Género:</b> {{genero}}</p>
      <p class="card-text fs-6"><b>Teléfono:</b> {{telefono}}</p>
      <p class="card-text fs-6"><b>Correo Universitario:</b> {{correoUniversitario}}</p>
      <p class="card-text fs-6"><b>Correo Personal:</b> {{correoPersonal}}</p>
      <div class="mt-auto" *ngIf="tipoTarjeta !== 'ESTUDIANTE'">
        <button mat-flat-button color="primary" (click)="emitirModal()">{{textoBotonUno}}</button>
      </div>
      <div class="mt-auto" *ngIf="tipoTarjeta === 'ESTUDIANTE'">
        <button mat-flat-button color="primary" (click)="emitirObjeto()">{{textoBotonUno}}</button>
      </div>
    </div>
  </div>
</div>
