<div class="container mx-auto bg-gray">
  <div class="row justify-content-center">
    <div class="col">
      <h1 class="titulo">Notas de materias</h1>
      <form [formGroup]="formSelects" class="d-flex flex-row">
        <mat-form-field appearance="fill">
          <mat-label>Materias</mat-label>
          <mat-select formControlName="selectMaterias">
            <mat-option *ngFor="let materia of materiasAsignadas" [value]="materia.codigo" (click)="notasCortes(materia.codigo)">
              {{materia.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>  
  <div class="row justify-content-center mt-3">
    <div class="col">
      <h2 class="titulo">Notas del corte 1</h2>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">
        <ng-container matColumnDef="corteUno">
          <th mat-header-cell *matHeaderCellDef> {{cabeceras[0]}} </th>
          <td mat-cell  *matCellDef="let element"> {{element.corteUno}} </td>
        </ng-container>
        <ng-container matColumnDef="corteDos">
          <th mat-header-cell *matHeaderCellDef> {{cabeceras[1]}}  </th>
          <td mat-cell *matCellDef="let element"> {{element.corteDos}} </td>
        </ng-container>
        <ng-container matColumnDef="corteTres">
          <th mat-header-cell *matHeaderCellDef> {{cabeceras[2]}} </th>
          <td mat-cell *matCellDef="let element"> {{element.corteTres}} </td>
        </ng-container>
        <ng-container matColumnDef="notaFinal">
          <th mat-header-cell *matHeaderCellDef> {{cabeceras[3]}} </th>
          <td mat-cell *matCellDef="let element"> {{element.notaFinal}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
      </table>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 text-center">
        <ng-container matColumnDef="corteUno">
          <th mat-header-cell *matHeaderCellDef> {{cabecerasNotasImg[0]}} </th>
          <td mat-cell  *matCellDef="let element"> {{element.corteUnoImg}} </td>
        </ng-container>
        <ng-container matColumnDef="corteDos">
          <th mat-header-cell *matHeaderCellDef> {{cabecerasNotasImg[1]}}  </th>
          <td mat-cell  *matCellDef="let element"> {{element.corteDosImg}} </td>
        </ng-container>
        <ng-container matColumnDef="corteTres">
          <th mat-header-cell *matHeaderCellDef> {{cabecerasNotasImg[2]}} </th>
          <td mat-cell  *matCellDef="let element"> {{element.corteTresImg}} </td>
        </ng-container>
        <ng-container matColumnDef="notaFinal">
          <th mat-header-cell *matHeaderCellDef> {{cabecerasNotasImg[3]}} </th>
          <td mat-cell *matCellDef="let element"> {{element.notaFinalImg}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="nombreColumnas"></tr>
        <tr mat-row *matRowDef="let row; columns: nombreColumnas;"></tr>
      </table>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col">
      <button mat-raised-button (click)="openSheet()" class="btn btn-primary w-100">Ver Cortes</button>
    </div>
  </div>
  <table mat-table [dataSource]="dataSourceNotas" class="mat-elevation-z8 text-center">
    <ng-container *ngFor="let column of cabecerasNotas" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell  *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="cabecerasNotas"></tr>
    <tr mat-row *matRowDef="let row; columns: cabecerasNotas;"></tr>
  </table>
</div>
